body {
  font-family: Arial;
  background-color: white;
  color: black;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.producto {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}
img {
  max-width: 100%;
}
